# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
exportOptions.plist
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
*.p8
*.report.xml
# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/coverage/
/android/app/debug
/android/app/profile
/android/app/release
android/app/montyMobileKeystore_playstore
/android/app/.cxx
ios/flutterfire_logs.txt
*.orig
/ios/build
/android/build
/fastlane/.env.local
/fastlane/esim-opensource---test-5c8450a038e7.json
/fastlane/esim-opensource-live-ce6959de8ebb.json
/fastlane/AuthKey_WKVJ7B974X.p8
/fastlane/report.xml
fastlane/android_plugin_patches.sh
/android/gitlab.properties
/android/app/EsimplyKey
android/app/src/main/assets/adi-registration.properties
